.sidebar{
    display: flex;
    flex-direction: column;
    position: sticky;
    height: 100vh;
}

header {
    background-color: black;
    padding: 20px;
    color: white;
}

aside {
    background-color: black;
    padding: 20px;
    color: white;
    text-decoration: none;
}

footer{
    background-color: black;
    padding: 20px;
    color: white;
}

li{
    list-style: none;
}


.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #858585;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 4px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: #007bff;
    color: white;
}

.sidebar nav ul li a.active {
    background-color: #0056b3;
    color: white;
}